*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #333;
}

header{
  width: 100%;
  height: 100vh;
  position: relative;
}

a{
  text-decoration: none;
  color: inherit;
}

.menu-toggle{
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  display: none;
  z-index: 999;
}

.menu-toggle i,
.fa-times{
  font-size: 3.5rem;
}

.fa-times{
  display: none;
  cursor: pointer;
}

nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.075);
  z-index: 1000;
}

.logo{
  font-size: 2.5rem;
  box-sizing: content-box;
  padding-left: 3rem;
}

.logo h1{
display: block;
width: 100%;
}

nav ul{
  height: 8rem;
  list-style: none;
  display: flex;
  font-size: 1.6rem;
}

nav ul li{
  padding: 0 3rem;
  line-height: 8rem;
  transition: background-color .5rem;
}

nav ul li:hover{
  background-color: rgba(0,0,0,.075);
}

.nav-right ul li{
  border-right: 1px solid rgba(0,0,0,.075);
}

.nav-right ul li:nth-child(1){
  border-left: 1px solid rgba(0,0,0,.075);
}

.nav-right ul li:last-child{
  border-right: none;
}

.nav-right i{
  margin-right: 1rem;
}

.nav-right i:first-child{
margin-right: 0;

}

.main{
  position:absolute;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.tone-1{
  background-color: orangered;
  height: 100vh;
  flex: 1;
}

.tone-2{
  background-color: white;
  height: 100vh;
  flex: 1;
}

.tone-2 img{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  
}

.title{
  display: flex;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1{
  font-size: 5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;

}

.title p{
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.btn{
  display: flex;
  padding: 2rem;
  color: #f7f7f6;
  font-size: 1.5rem;
  font-weight: 900;
  transition: all .5s;
}

.info-btn{
display: flex;

}
.discover-btn{
  background-color: #a4a4a4;
}

.log-btn{
  background-color: #141110;
}

.discover-btn:hover,
.log-btn:hover{
  box-shadow: 3px 1rem 2rem rgba(0,0,0,.3);
  transform: translateY(-1rem);
}

@media screen and (max-widht:1200px){
  .tone2 img{
    left: -8rem;
  }
  .title h1{
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  .title p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .btn{
    padding: 1.5rem;
    font-size: 1rem;
  }
}


@media screen and (max-widht:900px){
  .log{
    padding-left: 1.5rem;

  }
  .nav ul{
    height: 5rem;
    font-size: 1.4rem;
  }

  .nav ul li{
    padding: 0 1.5rem;
    margin-bottom: 2rem;
  }

  .tone2 img{
    left: -5rem;
  }
  
}

@media screen and (max-widht:600px){
  
  .tone2 img{
    left: -2.5rem;
  }
  .title p{
    font-size: 1.2rem;
  }

  .btn{
    padding: 1rem;
  }

  nav{
    display: flex;
    border-bottom: none;
    flex-direction: column;
    width: 25rem;
    height: 100vh;
    background-color: #f7f7f6;
    justify-content: space-evenly;
    transform: translateX(-25rem);
    transition: transform .5s ;
  }
  
  nav ul{
    height: initial;
    display: block;
    font-size: 2rem;
    align-items: center;
  }

  nav ul li{
    padding: 0;
    line-height: initial;
    margin-bottom: 2rem;
  }

  .logo{
    padding: 0;
  }
  .nav-right ul li,
  .nav-right ul li:nth-child(1){
    border: none;

  }
.menu-toggle{
  display: flex;
}
.fa-times{
  display: block;
  position: absolute;
}
}








